
<div class="content-wrapper">
    <div class="content">
        <div class="content-selector">
            <div class="recommend-selector">
                <button class="recommend-list-button">AI</button>
            </div>
            <div class="extra">
                <button class="extra-button charts" (click)="goToCharts()">Charts</button>
                <button class="extra-button forum">Forum</button>
            </div>
        </div>
        <div class="song-list">
            <div class="two-list ai-list" id="ai">
                <app-song-list-display [list]="ai"></app-song-list-display>
            </div>
        </div>
    </div>
</div>
