<div class="friend-list-container">
    <div class="friend-list-selector">
        <button class="friend-list-button" (click)="displayFriends()">Friends</button>
        <button class="friend-list-button" (click)="displayPending()">Pending</button>
        <button class="friend-list-button" (click)="displayRequests()">Requests</button>
    </div>
    <div class="all-list" id="allList">
        @if(type == 0){
            <div class="three-list friends-list" id="friends">
                <app-names-list [list]="friends_list" [type]=type></app-names-list>
            </div>
        }@else if (type == 1) {
            <div class="three-list pending-list" id="pending">
                <app-names-list [list]="request_list" [type]=type></app-names-list>
            </div>
        }@else if (type == 2) {
            <div class="three-list request-list" id="request">
                <app-names-list [list]="pending_list" [type]=type></app-names-list>
            </div>
        } 
    </div>
</div>