<div class="list-container" id="listContainer">
    @for (item of list; track $index) {
        <div class="user">
            <div class="user-container">
                @if (item.images) {
                    <img class="user-image" [src]="item.images.default" alt="userImage">
                } @else {
                    <img class="user-image" src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o=" alt="userImage">
                }
                <span class="user-name">{{item.user.displayName}}</span>
            </div>
            @if(type == 0) {
                <div class="buttons">
                    <button class="friend-btn cross" (click)="removeFriend(item.user.id)"><fa-icon [icon]="faXmark"></fa-icon></button>
                </div>
            } @else if(type == 1){
                <div class="buttons">
                    <button class="friend-btn cross" (click)="cancelFriend(item.user.id)"><fa-icon [icon]="faXmark"></fa-icon></button>
                </div>
            } @else if(type == 2){
                <div class="buttons">
                    <button class="friend-btn check" (click)="acceptFriend(item.user.id)"><fa-icon [icon]="faCheck"></fa-icon></button>
                    <button class="friend-btn cross" (click)="rejectFriend(item.user.id)"><fa-icon [icon]="faXmark"></fa-icon></button>
                </div>
            }
        </div>
    }
</div>
