<div class="list-container" id="listContainer">
    @for (item of list; track $index) {
        <div class="user" [ngClass]="{'user-req': type != 0}">
            <div class="user-container">
                <img class="user-image" [src]="item.profilePictureUrl" alt="userImage">
                <span class="user-name">{{item.name}}</span>
            </div>
            @if(type == 1){
                <div class="buttons">
                    <button class="friend-btn cross" (click)="rejectFriend(item.id)"><fa-icon [icon]="faXmark"></fa-icon></button>
                </div>
            } @else if(type == 2){
                <div class="buttons">
                    <button class="friend-btn check" (click)="addFriend(item.id)"><fa-icon [icon]="faCheck"></fa-icon></button>
                    <button class="friend-btn cross" (click)="rejectFriend(item.id)"><fa-icon [icon]="faXmark"></fa-icon></button>
                </div>
            }
        </div>
    }
</div>
