<div class="profile-container">
    <div class="profile-wrapper">
        <img class="profile-picture" src="assets/mei.jpg" alt="profile-picture">
        <div class="name-wrapper">
            <p class="display-name">Ian Sushruth Tauro/p>
            <p class="user-id" (click)="copyId()"><fa-icon [icon]="faCopy"></fa-icon> 29iwka9209jw82u042i2j4</p>
        </div>
    </div>
    <button class="profile-dropdown" (click)="displayDropdown()">
        <div class="ellipsis-dropdown">
            <fa-icon [icon]="faEllipsisVertical"></fa-icon>
        </div>
        @if (dropdownVisible) {
            <ul class="options-dropdown">
                <li class="dropdown-item warning-item">Logout</li>
                <li class="dropdown-item warning-item">Delete Account</li>
            </ul>
        }
    </button>
</div>
