<div class="add-friend-container">
    <div class="add-friend-wrapper">
        <label>Add Friend</label>
        <div class="add-friend-input">
            <input
                type="text"
                class="friend-id-input"
                id="id-input"
                placeholder="Enter the Spotify User ID"
                autocomplete="off"
                [(ngModel)]="inputId"
                (ngModelChange)="clearError()">
            <button (click)="sendFriendRequest()" class="add-friend-button"><fa-icon [icon]="fauserPlus"></fa-icon></button>
        </div>
        <span class="add-error">
            @if (errorOccured) {
                Error: {{errorMessage}}
            }
        </span>
    </div>
</div>
