<div class="background slant-gradient flex-center">
    <div class="foreground flex-center shadow">
        <img class="logo" src="..\assets\logos\RifflyLogo.png" alt="Riffly Logo">
        <form class="flex-center" (submit)="onSubmit($event)">
            <button class="spotify-login-button" type="submit">Login with spotify</button>
            <a class="need-help" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUJcmljayByb29s" target="_blank">
                Need help?
            </a>
        </form>
    </div>
</div>
